@{
  ViewBag.Title = "CommitLab - Search";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="span12">
    @*<div class="hero-unit2 row">*@
      <div class="row">
     @*   <h3 id="currectUser">Zalogowany jako: @User.Identity.Name</h3>*@
      <h1>CommitLab</h1>
      <p>Przeglądarka repozytorium SourceMiner, gdzie przechowywana jest historia zmian ze wszystkich repozytoriów (SVN + Mercurial)</p>
    </div>
    <div id="forms" class="row">
     @* <div class="span3 span3-no-margin" id="datesViewModel">*@
        <div class="col-lg-3 col-md-6" id="datesViewModel">
            <form>
                <fieldset>
                    <legend>Daty</legend>
                    <div class="row">
                        <label>Data od</label>
                        </div>
                        <div class="row">
                            <div class="input-append">
                                <div class="col-xs-12">
                                    <input autocomplete="off" class="input-box" style="margin-top:0px" id="dateFrom" readonly="" type="text" data-bind="datepicker: DateFrom" />
                                    <button type="button" class="btn btn-danger btn-frame" style="margin-top:0px" data-bind="click: clearDateFrom">x</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:15px">
                            <label>Data do</label>
                        </div>
                        <div class="row">
                            <div class="input-append">
                                <div class="col-xs-12">
                                    <input autocomplete="off" class="input-box" style="margin-top:0px" id="dateTo" readonly="" type="text" data-bind="datepicker: DateTo" />
                                    <button type="button" class="btn btn-danger btn-frame" style="margin-top:0px" data-bind="click: clearDateTo">x</button>
                                </div>
                            </div>
                        </div>
</fieldset>
            </form>
        </div>
        <div class="col-lg-3 col-md-6" id="userNameViewModel">
            <form>
                <fieldset>
                    <legend>Użytkownicy</legend>
                    <div class="row">
                        <div class="input-append input-append-frame">
                            @*<div class="col-lg-8 col-md-6 col-sm-4 col-xs-12">*@
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" id="userNameToAdd" class="input-box" data-bind='typeahead: UserNameList, value: UserNameToAdd, valueUpdate: "afterkeydown"' />
                              </div>
                            @*<div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">*@
                            <div class="col-lg-5 col-md-12 col-xs-12 col-centered">
                                <button type="button" class="btn btn-success btn-frame" data-bind="click: addUserName, enable: UserNameToAdd().length > 0">+</button>
                                <button type="button" class="btn btn-danger btn-frame"  data-bind="click: removeUserName, enable: UserNameSelected().length > 0">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <select multiple="multiple" class="col-md-12 multiple-layout" data-bind="options: UserNames, selectedOptions: UserNameSelected"> </select>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-3 col-md-6" id="branchNameViewModel">
            <form>
                <fieldset>
                    <legend>Gałęzie</legend>
                    <div class="row">
                        <div class="input-append input-append-frame">
                            @*<div class="col-lg-8 col-md-12 col-xs-12">*@
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" id="branchNameToAdd" class="input-box" data-bind='typeahead: BranchNameList, value: BranchNameToAdd, valueUpdate: "afterkeydown"' />
                            </div>
                            @*<div class="col-lg-4 col-md-12 col-xs-12">*@
                            <div class="col-lg-5 col-md-12 col-xs-12 col-centered">
                                <button type="button" class="btn btn-success btn-frame" data-bind="click: addBranchName, enable: BranchNameToAdd().length > 0">+</button>
                                <button type="button" class="btn btn-danger btn-frame" data-bind="click: removeBranchName, enable: BranchNameSelected().length > 0">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <select multiple="multiple" class="col-md-12 multiple-layout" data-bind="options: BranchNames, selectedOptions: BranchNameSelected"> </select>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-lg-3 col-md-6" id="repositoryNameViewModel">
            <form>
                <fieldset>
                    <legend>Repozytoria</legend>
                    <div class="row">
                        <div class="input-append input-append-frame">
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" id="repositoryNameToAdd" class="input-box" data-bind='typeahead: RepositoryNameList, value: RepositoryNameToAdd, valueUpdate: "afterkeydown"' />
                            </div>
                            <div class="col-lg-5 col-md-12 col-xs-12 col-centered">
                                <button type="button" class="btn btn-success btn-frame" data-bind="click: addRepositoryName, enable: RepositoryNameToAdd().length > 0">+</button>
                                <button type="button" class="btn btn-danger btn-frame" data-bind="click: removeRepositoryName, enable: RepositoryNameSelected().length > 0">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <select multiple="multiple" class="col-md-12 multiple-layout" data-bind="options: RepositoryNames, selectedOptions: RepositoryNameSelected"> </select>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
      <div id="changesetViewModel">
          <div class="row row-centered">
              <p><a class="btn btn-primary btn-large" style="margin-top:60px; padding:30px; padding-top:15px; padding-bottom:15px" id="submitData" data-bind="click: getChangesets">Szukaj &raquo;</a></p>
          </div>
          <div class="row row-centered">
              <div class="gridStyle" style="margin-top:60px; min-height:300px"  data-bind="koGrid: gridOptions"></div>
          </div>
      </div>
  </div>
</div>

@section scripts
{
  <script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/UserNameViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/BranchNameViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/RepositoryNameViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/DatesViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/ChangesetFilter.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/ChangesetViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/init.js")"> </script>
}
@section userName
{
    @User.Identity.Name.Substring(@User.Identity.Name.IndexOf("\\") + 1)
}