@{
  ViewBag.Title = "KRD SourceMiner Browser";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<div class="hero-unit">
  <h1>KRD SourceMiner</h1>
  <p>Przeglądarka repozytorium SourceMiner, gdzie przechowywana jest historia zmian ze wszystkich repozytoriów (SVN + Mercurial)</p>
  <div class="row" id="datesViewModel">
    <form >
      <fieldset>
        <legend>Zakres dat wyszukania</legend>
        <label>Data od</label>
        <div class="input-append">
          <input class="span2" autocomplete="off" id="dateFrom" readonly="" type="text" data-bind="datepicker: DateFrom"/>
          <button type="button" class="btn" data-bind="click: clearDateFrom">X</button>
        </div>
        <label>Data do</label>
        <div class="input-append">
          <input class="span2" autocomplete="off" id="dateTo" readonly="" type="text" data-bind="datepicker: DateTo"/>
          <button type="button" class="btn" data-bind="click: clearDateTo">X</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="row" id="userNameViewModel">
    <form>
      <fieldset>
        <legend>Użytkownicy do wyszukania</legend>
        <div class="input-append">
          <input type="text" class="span2" id="userNameToAdd" data-bind='typeahead: UserNameList, value: UserNameToAdd, valueUpdate: "afterkeydown"' />
          <button type="button" class="btn" data-bind="click: addUserName, enable: UserNameToAdd().length > 0">Dodaj</button>
        </div>
        <select multiple="multiple" height="5" data-bind="options: UserNames, selectedOptions: UserNameSelected"> </select>
        <button data-bind="click: removeUserName, enable: UserNameSelected().length > 0">Usuń usera</button>
      </fieldset>
    </form>
  </div>
  <div class="row" id="branchNameViewModel">
    <form >
      <fieldset>
        <legend>Gałęzie do wyszukania</legend>
        <div class="input-append">
          <input type="text" class="span2" id="branchNameToAdd" data-bind='typeahead: BranchNameList, value: BranchNameToAdd, valueUpdate: "afterkeydown"' />
          <button type="button" class="btn" data-bind="click: addBranchName, enable: BranchNameToAdd().length > 0">Dodaj</button>
        </div>
        <select multiple="multiple" height="5" data-bind="options: BranchNames, selectedOptions: BranchNameSelected"> </select>
        <button data-bind="click: removeBranchName, enable: BranchNameSelected().length > 0">Usuń usera</button>
      </fieldset>
    </form>
  </div>
  <div class="row" id="repositoryNameViewModel">
    <form>
      <fieldset>
        <legend>Repozytoria do wyszukania</legend>
        <div class="input-append">
          <input type="text" class="span2" id="repositoryNameToAdd" data-bind='typeahead: RepositoryNameList, value: RepositoryNameToAdd, valueUpdate: "afterkeydown"' />
          <button type="button" class="btn" data-bind="click: addRepositoryName, enable: RepositoryNameToAdd().length > 0">Dodaj</button>
        </div>
        <select multiple="multiple" height="5" data-bind="options: RepositoryNames, selectedOptions: RepositoryNameSelected"> </select>
        <button data-bind="click: removeRepositoryName, enable: RepositoryNameSelected().length > 0">Usuń usera</button>
      </fieldset>
    </form>
  </div>
  <p><a class="btn btn-primary btn-large">Szukaj &raquo;</a></p>
</div>

@section scripts
{
  <script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/UserNameViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/BranchNameViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/RepositoryNameViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/DatesViewModel.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/ChangesetFilter.js")"> </script>
  <script type="text/javascript">
    var datesViewModel = new DatesViewModel();
    var userNameViewModel = new UserNameViewModel();
    var branchNameViewModel = new BranchNameViewModel();
    var repositoryNameViewModel = new RepositoryNameViewModel();
    var changesetFilter = new ChangesetFilter();

    $.getJSON('/api/changeset/usernames', function(data, status) {
      userNameViewModel.loadUserNameList(data);
    });

    $.getJSON('/api/changeset/branchnames', function(data, status) {
      branchNameViewModel.loadBranchNameList(data);
    });

    $.getJSON('/api/changeset/repositorynames', function(data, status) {
      repositoryNameViewModel.loadRepositoryNameList(data);
    });

    ko.applyBindings(datesViewModel, document.getElementById('datesViewModel'));
    ko.applyBindings(userNameViewModel, document.getElementById('userNameViewModel'));
    ko.applyBindings(branchNameViewModel, document.getElementById('branchNameViewModel'));
    ko.applyBindings(repositoryNameViewModel, document.getElementById('repositoryNameViewModel'));

  </script>
}